* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: tt-chocolates;
}
@font-face {
    font-family: tt-chocolates;
    src: url(resources/tt-chocolates.otf);
}
@font-face {
    font-family: technology-regular;
    src: url(resources/technology.regular.ttf)
}
@font-face {
    font-family: syntha;
    src: url(resources/Syntha.ttf)
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(resources/background.jpg);
    background-size: cover;
}
.calculator {
    position: relative;
    width: 32em;
    height: 51.5em;
}
.calculator-background {
    width: 100%;
    height: 100%;
    z-index: -1 !important;
}
.display-container {
    position: absolute;
    height: 10em;
    width: 84%;
    top: 3.5em;
    left: 2.5em;
    border-radius: 1em;
    overflow: clip;
}
.display-container:hover .top-line {
    transform: translateY(-100%)
}
.display-container:hover .bottom-line {
    transform: translateY(+100%)
}
.top-line, .bottom-line {
    position: absolute;
    height: 50%;
    width: 100%;
    padding: 10px;
    font-family: technology-regular;
    font-size: 4.5em;
    text-align: right;
    color: white;
    background-color: black;
    transition: transform 0.1s ease-out;
    z-index: 2;
}
.top-line {
    top: 0
}
.bottom-line {
    bottom: 0
}
.credits {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 1.2;
    background-color: black;
    color: #00FF00;
    font-family: syntha;
    font-size: 2em;
    transition: background-color 0.1s ease-out;
    z-index: 1;
}
.credits:hover {
    background-color: #00FF00;
    color: black;
    animation: flickering 0.1s ease-out infinite;
}
.buttons-container {
    position: absolute !important;
    top: 14.7em;
    left: 3em;
}
#buttons {
    width: 26.1em;
    height: 32.6em;
}
.outer-grid, .top-grid, .right-grid, .bottom-grid  {
    display: flex;
    gap: 0.4em;
}
.outer-grid {
    height: 100%;
}
.middle-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.4em;
    padding-top: 0.4em;
}
.right-grid {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.center-grid {
    gap: 0.4em;
}
.bottom-grid {
    position: absolute;
    bottom: 0;
    width: 19.5em;
    height: 6.5em;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.4em;
}
button {
    width: 3.1em;
    height: 3.1em;
    transition: transform 0.1s ease-out;
    font-size: 2em;
    font-weight: bolder;
    color:lightgray;
}
button:active {
    transform: scale(0.9);
    animation: button-glow 0.1s ease-out infinite;
}
.left-light-button {
    background-image: url(resources/light\ grey\ left\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.center-right-light-button {
    background-image: url(resources/light\ grey\ left\ middle\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.zero-button{
    width: 6.5em;
    background-image: url(resources/0\ button.png);
    background-size: cover;
    background-color: transparent !important;
    transition: all 0.1s ease-out;
}
.decimal-point-button{
    background-image: url(resources/light\ grey\ left\ middle\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.calculate-button {
    height: 6.4em;
    background-image: url(resources/=\ sign\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.summation-sign-button {
    height: 6.4em;
    background-image: url(resources/+\ sign\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.subtraction-button {
    background-image: url(resources/dark\ grey\ left\ middle\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.multiplication-button {
    background-image: url(resources/dark\ grey\ left\ middle\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.division-button {
    background-image: url(resources/dark\ grey\ left\ middle\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
.all-clear-button {
    background-image: url(resources/dark\ grey\ left\ button.png);
    background-size: cover;
    background-color: transparent !important;
}
@keyframes flickering {
    from {
        background-color: #00FF00;
    }
    to {
        background-color: #00E600;
    }
}
@keyframes button-glow{
    to {
        box-shadow: 2px 2px 5px 2px #00ff00;
    }
}
@media (max-width: 400px) {
    body {
        width: 100vw;
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: center;
    }
    .calculator {
        transform: scale(0.5);
    }
}
@media screen and (min-width: 410px) and (max-width: 440px) {
    body {
        transform: scale(0.9);
    }
    .calculator {
        height: 41.5em;
    }
    .display-container {
        height: 8.3em;
        top: 2.7em;
        left: 2.2em;
    }
    .top-line, .bottom-line {
        font-size: 3.5em !important;
    }
    #display {
        font-size: 4em;
    }
    .buttons-container {
        top: 12em;
        width: 20em;
        height: 26em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #buttons {
        transform: scale(0.8) !important;
    }
    .credits {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 600px) and (max-width: 1370px) {
    body {
        width: 100vw;
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: center;
    }
    .calculator {
        transform: scale(0.5);
    }
}
@media screen and (min-width: 3840px) {
    .calculator {
        transform: scale(2);
    }
}